.chat-top-interface__button
  align-items center

  display flex
  width 22px
  height 22px
  margin-right 5px
  padding 0
  box-sizing border-box

  background none

  transition all 0.2s ease-in-out

  &:last-of-type
    margin-right 0

  &:hover
    opacity 0.8
