.chat-bottom-interface__button.chat-bottom-interface__button_send
  align-items center
  justify-content center

  display flex
  width 32px
  height 32px
  margin-left auto
  padding 0
  box-sizing border-box

  border-radius 99px
  background #76a9ff

