@import "__avatar/user-top-menu__avatar.styl"
@import "__avatar-image/user-top-menu__avatar-image.styl"
@import "__name/user-top-menu__name.styl"
@import "__buttons/user-top-menu__buttons.styl"
@import "__button/user-top-menu__button.styl"
@import "__button-image/user-top-menu__button-image.styl"
@import "__container/user-top-menu__container.styl"
@import "__button-text/user-top-menu__button-text.styl"
@import "__item/user-top-menu__item.styl"
@import "__settings/user-top-menu__settings.styl"
@import "__button-icon/user-top-menu__button-icon.styl"

.user-top-menu
  align-items center

  position relative
  display flex
  box-sizing border-box
  padding 0 14px

  transition all 0.2s ease-in-out

