.user-top-menu__item
  margin-bottom 3px
  box-sizing border-box

  padding 5px

  border-bottom 1px solid transparent

  list-style-type none

  &:hover
    border-bottom-color #76a9ff

  &:last-of-type
    margin-bottom 0

