@import "__wrapper/message__wrapper.styl"
@import "__user-name/message__user-name.styl"
@import "__user-text/message__user-text.styl"
@import "__text-wrapper/message__text-wrapper.styl"
@import "__status-wrapper/message__status-wrapper.styl"
@import "__time/message__time.styl"
@import "__read-status/message__read-status.styl"
@import "__who/message__who.styl"
@import "__user-avatar/message__user-avatar.styl"
@import "__user-image/message__user-image.styl"
@import "__user-status/message__user-status.styl"

.message
  height 72px

  cursor pointer

  transition all 0.2s ease-in-out

  &:hover
    background-color #3c3844
