@import "./__image/chat-user-badge__image.styl"
@import "./__container/chat-user-badge__container.styl"
@import "./__name/chat-user-badge__name.styl"
@import "__action/chat-user-badge__action.styl"

.chat-user-badge
  display flex
  align-items center
  box-sizing border-box
  padding 5px

  transition all 0.2s ease-in-out

  &:hover
    background-color #3c3844
