@import "__wrapper/messages-container__wrapper.styl"
@import "__overflow/messages-container__overflow.styl"
@import "__group/messages-container__group.styl"
@import "__text/messages-container__text.styl"
@import "__time/messages-container__time.styl"
@import "__avatar/messages-container__avatar.styl"
@import "__image/messages-container__image.styl"
@import "__status/messages-container__status.styl"

.messages-container
  height calc(100vh - 172px)
  margin 3px 0

  border-radius 10px
