@import "./__avatar/user-info-from-chat__avatar.styl"
@import "./__caption/user-info-from-chat__caption.styl"
@import "./__initials/user-info-from-chat__initials.styl"
@import "./__button/user-info-from-chat__button.styl"

.user-info-from-chat
  display flex
  flex-direction column

  min-width  320px
  max-width 381px
