@import "__button/messages-and-contacts__button.styl"

.messages-and-contacts
  justify-content space-between

  display flex
  box-sizing border-box
  height 56px
  margin 0 24px
  padding 4px

  border-radius 10px
