@import "__input/chat-bottom-interface__input.styl"
@import "__button/chat-bottom-interface__button.styl"
@import "__image/chat-bottom-interface__image.styl"
@import "__wrapper/chat-bottom-interface__wrapper.styl"

.chat-bottom-interface
  width 100%
  padding 10px
  box-sizing border-box

  background #2a2731
  border-radius 10px

