@import "_in/messages-container__wrapper_in.styl"
@import "_out/messages-container__wrapper_out.styl"

.messages-container__wrapper
  flex-direction column
  align-items flex-end

  display flex
  max-width 200px
  margin 0 7px
  padding 8px

  border-radius 10px
