@import "__input/search__input.styl"
@import "__image-search/search__image-search.styl"
@import "__image-delete/search__image-delete.styl"
@import "__delete/search__delete.styl"
@import "__wrapper/search__wrapper.styl"

.search
  position relative

  box-sizing border-box
  width 100%

