@import "./__avatar/chat-info__avatar.styl"
@import "./__name/chat-info__name.styl"
@import "./__users/chat-info__users.styl"
@import "./__button/chat-info__button.styl"

.chat-info
  display flex
  flex-direction column
  align-items center
