@import "_send/chat-bottom-interface__button_send.styl"

.chat-bottom-interface__button
  width 22px
  height 22px
  margin-right 5px
  margin-top 0
  padding 0

  background none

  transition all 0.2s ease-in-out

  &:hover
    opacity 0.8

  &:hover:disabled
    opacity 1

  &:disabled
    background #e6e8eb
