.message__user-text
  display -webkit-box
  margin 0
  -webkit-line-clamp 2
  -webkit-box-orient vertical

  font normal 500 12px/12px Arial, sans-serif
  letter-spacing 0.44px
  color #d2d2d6

  overflow hidden

