.error-page__link
  box-sizing border-box
  height 56px
  padding 12px 12px 16px

  font normal bold 24px/24px Arial, sans-serif
  color #eeecf1

  border none
  background #3c3844
  border-radius 99px
  cursor pointer
  outline none
