@import "_dark/messages-and-contacts__button_dark.styl"

.messages-and-contacts__button
  width 49%

  font normal 600 20px/32px Arial, sans-serif
  color #eeecf1

  border-radius 10px

  &:hover
    color white
