@import "__title/favorites__title.styl"
@import "__wrapper/favorites__wrapper.styl"
@import "__status/favorites__status.styl"
@import "__user/favorites__user.styl"
@import "__user-name/favorites__user-name.styl"
@import "__avatar/favorites__avatar.styl"
@import "__avatar-image/favorites__avatar-image.styl"
