@import "__button/list-navigation__button.styl"
@import "__icon/list-navigation__icon.styl"
@import "__item/list-navigation__item.styl"

.list-navigation
  width auto

  position absolute
  top 10px
  right 14px

  list-style-type none
  box-sizing border-box
  margin 0
  padding 0

  display none
  flex-direction column

  background #2a2731
  box-shadow -3px 9px 22px -10px rgba(0,0,0,0.75)
  border-radius 10px

  z-index 2
