@import "vendor/normalize.css"
@import "blocks/page/page.styl"
@import "blocks/form/form.styl"
@import "blocks/error/error.styl"
@import "blocks/user-top-menu/user-top-menu.styl"
@import "blocks/left/left.styl"
@import "blocks/info/info.styl"
@import "blocks/search/search.styl"
@import "blocks/favorites/favorites.styl"
@import "blocks/messages-and-contacts/messages-and-contacts.styl"
@import "blocks/messages-list/messages-list.styl"
@import "blocks/message/message.styl"
@import "blocks/chat-top-interface/chat-top-interface.styl"
@import "blocks/chat/chat.styl"
@import "blocks/chat-bottom-interface/chat-bottom-interface.styl"
@import "blocks/messages-container/messages-container.styl"
@import "blocks/error-page/error.styl"
@import "blocks/common/common.styl"
@import "blocks/chat-user-badge/chat-user-badge.styl"
@import "blocks/chat-info/chat-info.styl"
