@import "__fieldset/form__fieldset.styl"
@import "__legend/form__legend.styl"
@import "__container/form__container.styl"
@import "__input/form__input.styl"
@import "__button/form__button.styl"
@import "__avatar/form__avatar.styl"
@import "__link/form__link.styl"
@import "__text/form__text.styl"
@import "__button-close/form__button-close.styl"

.form
  flex-direction column
  align-items center

  box-sizing border-box
  display flex
  width 430px
  margin auto
  padding 0 24px

  background-color #17151c
  border-radius 18px

