.form__input
  box-sizing border-box
  width 100%
  height 40px
  margin-bottom 0
  padding 0 16px

  font normal normal 20px/32px Arial, sans-serif
  letter-spacing 0.22px
  color #7a7585

  background #000000
  border 2px solid #000000
  border-radius 10px
  outline none

  transition all 0.2s linear


  &::placeholder
    font normal normal 20px/32px Arial, sans-serif
    letter-spacing 0.22px
    color #7a7585

  &:focus
    border-color #76a9ff
