@import "__button/chat-top-interface__button.styl"
@import "__button-image/chat-top-interface__button-image.styl"
@import "__user-wrapper/chat-top-interface__user-wrapper.styl"
@import "__mail/chat-top-interface__mail.styl"
@import "__name/chat-top-interface__name.styl"
@import "__info-wrapper/chat-top-interface__info-wrapper.styl"
@import "__button-wrapper/chat-top-interface__button-wrapper.styl"
@import "__avatar/chat-top-interface__avatar.styl"
@import "__avatar-image/chat-top-interface__avatar-image.styl"
@import "__status/chat-top-interface__status.styl"
@import "__button-list/chat-top-interface__button-list.styl"
@import "__button-list-item/chat-top-interface__button-list-item.styl"

.chat-top-interface
  position relative
  align-items center

  display flex
  box-sizing border-box
  width 100%
  padding 10px 14px

  background #2a2731
  border-radius 10px

